.btn__login{
  font-weight: 500;
  color: $four;
  // border: 1px solid $three;
  border: none;
  padding: 1em 1.5em;
  text-decoration: none;
  background-color:white;
  transition: transform 0.1s ease-in-out;
  &:hover{
    box-shadow: 0 0 5px $four;
    border: 1px solid $one ;
    transition: transform 0.1s ease-in-out;
    transform: scale(1.03);
  }
  
}
.btn__register{
  font-weight: 500;
  color: $four;
  border: 1px solid $three;
  padding:1em 1.5em;
  text-decoration: none;
  background-color:white;
  &:hover{
    box-shadow: 0 0 5px $three;
    // border: 1px solid $five ;
    transition: transform 0.1s ease-in-out;
    transform: scale(1.03);
  }

}
.btn__HomeHeader_buttons{
  margin: 0 3em;
display: flex;
justify-content: space-between;


  .btn__HomeHeader{
  font-family: $font-alt;
    font-weight: 300;
    border: 2px solid $five;
    width:8em;
    height: 3.5em;
    font-size: 2em;
    color: $five;
    background-color:white;
  }
}

