.LogRegBtn__box {
  margin: 3em 3em 0 0;
  display: flex;
  justify-content: flex-end;

  .LogRegBtn__ul {
    display: flex;

    .LogRegBtn__li {
      font-size: 1.1em;
      margin-right: 1em;
      
    }
  }
}