.HomeThreeColumns__background_image {
    background-image: url(../../../assets/3-Columns-Background.png);
    height: 70%;
}

.HomeThreeColumns__row {
    
    width: 100%;
    display: flex;
    justify-content: space-around;

    .HomeThreeColumns__col {
        margin: 2em
         0;
        width: 25%;
        text-align: center;

        .HomeThreeColumns__number {
            font-size: 5.5em;
            color: $two;
        }

        .HomeThreeColumns__title {
            font-size: 1.5em;
            color: $five;
            margin: 1em 0;
        }

        .HomeThreeColumns__description {
            color: $five;
            line-height: 2em;
            font-family: $font-base;
        }

    }
}